:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #5e5e5e;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #00296b;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}